html {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  /* For browsers that do not support gradients */
  background: linear-gradient(black, #292929);
  /* Standard syntax (must be last) */
  width: 100%;
  height: 100%;
}

.player {
  background-color: #282828;
  color: #7a7a7a;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 90px;
  text-align: center;
  min-width: 500px;
}

.player .controls {
  margin-top: 10px;
}

.info {
  position: fixed;
}

.info,
.info img,
.info .text {
  float: left;
  text-align: left;
}

.info .text {
  margin-top: 20px;
}

.info img {
  height: 80px;
  width: 80px;
  margin-right: 8px;
}

.info .artist {
  color: #dfdfdf;
  font-weight: 600;
}

.info .song {
  color: #acacac;
  font-size: 8pt;
  margin-top: 3px;
}

.player i {
  margin: 10px 5px 10px 5px;
  vertical-align: middle;
}

i.disabled {
  color: #5c5c5c;
}

.player i.hvr-grow:hover,
.player i.hvr-grow:focus,
.player i.hvr-grow:active {
  color: #cfcfcf;
}

.player .slider {
  width: 100%;
}

.player input[type=range] {
  display: block;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
  opacity: 0.5;
}

.player input[type=range]:hover,
.player input[type=range]:focus {
  opacity: 1;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background: #222222;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 8px;
  width: 20px;
  background: #8b8b8b;
}

input[type=range]::-moz-range-track {
  height: 8px;
  background: #222222;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 8px;
  width: 20px;
  background: #8b8b8b;
}

.hvr-grow {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}